
/* Skill cutz main page css file */

*{
  border:1px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#body {
  width: 100%;
}

#header {
  height: 125px;
}

#header h1 {
  width: 65%;
  text-align: center;
  margin-left: 250px;
}
#header p {
  position: relative;
  left: 900px;
  bottom: 61px;
}

#container {
  display: inline-block;
  position: relative;
  background-color: yellow;
  width: 100%;
  height: auto;
}

.container1 {
  width: auto;
  height: auto;
  float: left;
  margin: 25px;
}

.container2 {
  width: auto;
  height: auto;
  float: left;
  margin-top: 25px;

}

.container3 {
  width: auto;
  height: auto;
  float: left;
  margin: 25px;
}

p {
  height: auto;
  width: 350px;
  padding: none;
  text-align: center;
}

h3 {
  height: 500px;
  width: 450px;
  text-align: center;
}

ul {
  height: auto;
  text-align: center;
  list-style-type: none;
  padding: 0;
  width: auto;
}

li {
  height: 30px;
  display: block;
  width: 300px;
  background-color: grey;
  color: white;
  border: none;
}

li a {
    display: block;
    width: 250px;
    background-color: grey;
}

/* Dropdown Button */
.dropbtn {
    width: 298px;
    height: 30px;
    background-color: grey;
    color: white;
    font-weight: bold;
    border: none;
    /*cursor: pointer;*/
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;

footer {
  position: relative;
  clear: both;
}
